*.pyc
__pycache__

/.idea
/.vscode

/static

/db.sqlite3
/db.sqlite3-journal

/scripts_errors
/scanned_results
/created_files
/data
/media

studies/data/*.csv
studies/data/*.xls
studies/data/*.xlsx
.DS_Store

uncontrast_studies/data/*.csv
uncontrast_studies/data/*.xls
uncontrast_studies/data/*.xlsx
/uncontrast_studies/data/logs
/uncontrast_studies/data/old_datasets
backup.sql
