<h1>Submission approved</h1>
DEAR {{ username }},

<p>
    We are glad to notify you that following review by a member of our steering committee, the paper you submitted to
    the ConTraSt database titled: <em>“{{ study.title }}”</em> [{{ study.DOI }}], has been approved. The paper will be
    added to the
    database as soon as possible.

</p>
<p>
    We thank you for this valuable contribution to our database and look forward to receiving other submissions from
    you. Thank you for using our website!

</p>

Sincerely yours,
<br/>

The ConTraSt team.
