DEAR {{ username }},

<p>
    We thank you for submitting a paper for the ConTraSt database. Our steering committee has reviewed the paper you
    submitted to the ConTraSt database titled: <em>“{{ study.title }}”</em> [{{ study.DOI }}] and has unfortunately
    decided that it is outside the scope of our database.

</p>
<p>
    To find out more, please see the definition of the scope of our database in our <a
        href="https://contrastdb.tau.ac.il/modes-of-governance" target="_blank">Modes of Governance </a>

</p>
<p>
    We appreciate the time and effort you took to submit the paper and look forward to receiving other submissions from
    you. Thank you for using our website!

</p>
Sincerely yours,
<br/>

The ConTraSt team.